POSTGRES_USER=database_username
POSTGRES_PASSWORD=database_password
POSTGRES_DB=database_name

POSTGRES_PORT=5434_or_enter_a_port_for_postgres

PG_VERSION=18_or_above

ADMINER_PORT=8080_or_enter_a_port_for_adminer

BACKEND_LOCAL_PORT=3000_or_enter_a_port_for_express_server

FRONT_LOCAL_PORT=5173_or_enter_a_port_for_vite_server